.App{
  background-image: linear-gradient(to bottom,#192241, #5e44a4 60%, #9540aa );
  color: aliceblue;
  font-family: "Raleway", serif;
  font-weight: 400;
  width: 528px;
  height: 1200px;
  margin: 20px auto;
  border-radius: 45px;
}

footer{
  padding: 20px;
}