button{
  border-radius: 25px;
  background-image: linear-gradient(to top,#192241, #5e44a4 60%, #9540aa );
  margin: 25px 45px;
  color: antiquewhite;
  padding: 5px;
  width: 110px;
  height: 45px;
  font-weight: 300;
  font-size: 20px;
  border: #5e44a4 solid 2px;
}

button:hover{
  background-image: linear-gradient(to bottom, #5e44a4 60%, #9540aa );
  color: black;
}

