.form-control{
  background-image: linear-gradient(to right,#192241, #5e44a4 60%, #9540aa );
  margin: 20px;
  color: antiquewhite !important;}

.form-control::placeholder{
  color: antiquewhite;
}

.Weather input {
    color: antiquewhite;;
    border-radius: 25px;
    border: 2px solid #5e44a4 ;
    margin: 30px auto;
    padding: 8px 25px;

}

.LocationDate {
  padding: 20px 0px;
  margin: 2px auto;
  text-align: center;
}
.LocationDate h2{
font-size: 17px;
font-weight: 400;
}

.WeatherIcon ul{
  text-align: center;
  font-size: 13px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 200;
  list-style: none;
  padding: 0;
  margin: 0;
}

.WeatherIcon .icon{
  margin-top: 20px;
  height: 120px;
  animation: float 3s ease-in-out infinite;
}
  @keyframes float {
  0%   { transform: translateY(0px); }
  50%  { transform: translateY(-8px); }
  100% { transform: translateY(0px); }

}

.Temperature{
  padding: 10px;
  text-align: center;
  font-size: 60px;
  font-family: 'Open-sans', sans-serif;
  font-weight: 200;
}

.Temperature span {
  font-weight: 100;
}
.AirqualityHumidity h5 {
  margin: 20px;
  font-weight: 200;
  font-size: 16px;
}