.form-control{
  background-image: linear-gradient(to right,#192241, #5e44a4 60%, #9540aa );
  margin: 20px;
}

.form-control::placeholder{
  color: antiquewhite;
}

.Weather input {
    color: azure;
    border-radius: 25px;
    border: 2px solid #5e44a4 ;
    margin: 30px auto;
    padding: 8px 15px;
}

.LocationDate {
  padding: 20px;
  text-align: center;
}
.LocationDate h2{
font-size: 18px;
font-weight: 400;
}

.WeatherIcon ul{
  text-align: center;
  font-size: 15px;
  font-weight: 100;
  list-style: none;
  padding: 0;
  margin: 0;

}

.Temperature{
  padding: 20px;
  text-align: center;
  font-size: 60px;
  font-family: 'Open-sans', sans-serif;
  font-weight: 200;
}

.AirqualityHumidity {
  margin: 20px;
}